@use "./globals";
@use "./components";
@use "./util";

.section-1{
    min-height: 50vh;
    background-image: url(../images/pattern-bg.png);
    padding: 2rem;
    position: relative;

    @include util.breakpoint('medium'){
        min-height: 35vh;
    }
}
.attribution {
    font-size: 11px; text-align: center;
     a { 
         color: hsl(228, 45%, 44%);
    }
    color: globals.$Dark-Gray;
}
.map-area{
    min-height: 50vh;
}